.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {

  font-family: 'Poppins', sans-serif;
}

::placeholder {
  color: #999;
}


:root {
  --primary-color: #564E4E;
  --secondary-color: #F79489;
  --hero-bg: white;
}

ul {
  list-style: none;
}



a {
  text-decoration: none;
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


img {
  width: 100%;
}

section {
  padding: 60px 0px;
}